    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }



    /* Estilo do Topo da Navbar */
    .navbar {
        background-color: #1a1a1a; /* A RESOLVER > PROVAVELMENTE IRA PARA O MEDIA QUERIE */ 
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    /*  z-index: 1000;   */
       
    }

    .header-box {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        gap: 30px;
    }

    .header-box img {
        /*IMAGEM*/
        width: 80px;
    }

    /* Links para Computador */
    .nav-links {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s;

    .nav-links a:hover {
        color: #c51111;
        transition: 0.5s ease-in-out;
        text-decoration: underline;
        }
    }

    /* Esconder o checkbox e o botão sanduíche por padrão (Computador) */
    .menu-checkbox {
        display: none;
    }

    .menu-sanduiche {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .menu-sanduiche span {
        background-color: #fff;
        height: 3px;
        width: 25px;
        border-radius: 2px;
    }





    @media screen and (max-width: 768px) {
        /* Mostra o ícone do menu sanduíche */

        .header-box {
            justify-content: space-between;
        }

        .header-box img {
            /*IMAGEM*/
            width: 50px;
            margin-left: 15px;

        }

        .menu-sanduiche {
            display: flex;
            margin-right: 20px;
        }

        /* Transforma a lista de links em um menu vertical escondido */
        .nav-links {
            display: none;
            /* Esconde os links por padrão no celular */
            flex-direction: column;
            position: absolute;
            top: 100%;
            /* Fica logo abaixo da barra do topo */
            left: 0;
            width: 100%;
            background-color: #1a1a1a;
            padding: 20px;
            gap: 15px;
            text-align: center;
            border-top: 1px solid #c51111;
        }

        /* O TRUQUE: Quando o checkbox for marcado, mostra os links */
        .menu-checkbox:checked~.nav-links {
            display: flex;
        }
    }